body {
    background-size: 100%;
    background-color: #fadbd8;
    /*font-family: Arial, Helvetica, sans-serif; */
    }

header {
    background-color: #E88D42;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 40px;
    width:100%;
}

nav {
    line-height: 30px;
    background-color: #E88D42;
    color: white;
    height: 600px;
    width: 200px;
    float: left;
    padding: 35px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    width: 250px;
}

nav a {
    color: white; 
}

nav a:hover {
    text-decoration: underline; /
    cursor: pointer;
}

section {
    width: 750px;
    float: left; 
    padding: 10px;
    color: black;
    text-align: justify; 
    font-size: 20px;
    padding: 0 150px; 
}
/* Footer fijo al final */
footer {
    background-color:#E88D42 ;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
    width: 100%;

   }

img {
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

main .blake {
    text-align: center;
    width: 40%; 
}

main .blake img {
    max-width: 40%; 
    height: auto;
    cursor: pointer;
    border-radius: 10px;
    transition: transfom 0.3s ease;
}

main .blake img:hover {
    transform: scale(1.05); 
}
h1{
    font-size: 50px;
    color: white; 
    text-align: center; 
    margin: 20px 0; 
}

        table {
            width: 50%;
            border-collapse: collapse;
            margin: 0 auto;
        }
        table, th, td {
            border: 1px solid black;
        }
        td {
            padding: 10px;
            text-align: center;
        }
        img {
            width: 150px;
            height: 150px;
        }
        .container {
  width: 100%; /* ocupa el 100% del ancho del contenedor */
}

.header {
  padding: 2rem; /* padding en valores relativos */
}
.container {
  display: flex;
  flex-wrap: wrap; /* permite que los elementos se ajusten en varias filas */
  justify-content: space-between; /* distribuye los elementos de manera uniforme */
}
.item {
  flex: 1 1 30%; /* hace que cada elemento ocupe el 30% del espacio disponible */
  margin: 1rem;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* crea columnas automáticas */
  gap: 20px;
}
/* Estilos para pantallas grandes (de escritorio) */
@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, 1fr); /* tres columnas en pantallas grandes */
  }
}

/* Estilos para pantallas medianas (tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    grid-template-columns: repeat(2, 1fr); /* dos columnas en pantallas medianas */
  }
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr; /* una columna en pantallas pequeñas */
  }
}
img {
  max-width: 100%;
  height: auto;
}

    